{% extends "utils/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    {% include 'utils/navbar.html' %}

    <div class="d-flex justify-content-center">

        <div>
            <form class="signup mb-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-label-group mt-2 ">
                        <input class="form-control cuguge_form_field" type="email" name="email"
                               placeholder="E-mail address"
                               required="" id="id_email">
                    </div>
                    <div class="form-label-group mt-2 ">
                        <input class="form-control cuguge_form_field" type="text" name="username" placeholder="Username"
                               autofocus="autofocus" minlength="1"
                               maxlength="150" required="" id="id_username">
                    </div>
                    <div class="form-label-group mt-2 ">
                        <input class="form-control cuguge_form_field" type="text" name="first_name" maxlength="30"
                               required=""
                               id="id_first_name">
                    </div>
                    <div class="form-label-group mt-2 ">
                        <input class="form-control cuguge_form_field" type="text" name="last_name" maxlength="30"
                               required=""
                               id="id_last_name">
                    </div>
                    <div class="form-label-group mt-2 ">
                        <input class="form-control cuguge_form_field" type="password" name="password1"
                               placeholder="პაროლი"
                               required="" id="id_password1">
                    </div>
                    <div class="form-label-group mt-2 ">
                        <input class="form-control cuguge_form_field" type="password" name="password2"
                               placeholder="პაროლი (განმეორებით)" required=""
                               id="id_password2">
                    </div>
                </div>
                {#            {{ form.as_p }}#}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>


            </form>

            <br/>
            <div class="or_separator mx-auto">
                <i>or</i>
            </div>
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}

        </div>
    </div>
    {% include 'utils/footer.html' %}
{% endblock %}
