{% extends 'utils/base.html' %}


{% block title %}
    <title> post </title>
{% endblock %}


{% block content %}
    {% include 'utils/navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                {{ form.media }}
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ post_form }}
                    <br/>
                    <input type="file" name="images" accept="image/*" id="id_image">
                    <input type="file" name="images" accept="image/*" id="id_image">
                    <input type="file" name="images" accept="image/*" id="id_image">


  {% comment %}                  {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form }}
                    {% endfor %}{% endcomment %}
                    <br/>
                    <button type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}