{% extends 'utils/base.html' %}
{% load i18n %}


{% block title %}
    <title> index </title>
{% endblock %}


{% block content %}

    {% include 'utils/navbar.html' %}

    <div class="cuguge_main_wallpaper">
        <div class="d-flex justify-content-center cuguge_main_wallpaper_content">
            <div class="cuguge_search">
                <form action="{% url 'posters' %}" method="post">
                    {% csrf_token %}
                    <input id="search" name="search" class="cuguge_search_field"/>
                    <button type="submit" class="btn btn-primary float-right" id="search_button">{% trans 'search' %}</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1 class="text-center">
                    {% trans 'latests' %}
                </h1>
            </div>
            <div class="col-12">
                <div class="row">
                    {% if post_list %}
                        {% for post in post_list %}
                            {% include 'utils/post.html' with post=post %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include 'utils/footer.html' %}

{% endblock %}

{% block end_of_page %}
    <script>
        {% comment %}        $('#search_button').click(function () {
                    let val = $('#search').val()

                    $.ajax({
                        url: {% url 'posters' %},
                        type: 'POST',
                        data: JSON.stringify({search: val}),
                    })
                }){% endcomment %}
    </script>
{% endblock %}