{% extends 'utils/base.html' %}
{% load static %}

{% block title %}
    <title> post </title>
{% endblock %}

{% block end_of_head %}
    <link rel="stylesheet" href="{% static 'assets/lightslider/css/lightslider.min.css' %}">
{% endblock %}

{% block content %}
    {% include 'utils/navbar.html' %}

    <div class="container cuguge_full_post mt-5">
        <div class="row">
            <div class="col-12 text-center mb-3 mt-3">
                <span class="h1">{{ post.title }}</span>

                {% if user.is_authenticated and user.get_username == post.creator.user.get_username %}
                    <a href="{% url 'editPost' post.id %}"> <i class="fa fa-edit float-right h3"></i></a>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div>
                    {% if post.images %}
                        <ul id="imageGallery">
                            {% for image in post.images.all %}
                                <li data-thumb="{{ image.image.url }}" data-src="{{ image.image.url }}">
                                    <img class="img-fluid" src="{{ image.image.url }}" alt="{{ image.image.url }}"/>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 mt-md-4">
                <a href="{% url 'profile' user_id=post.creator.user.id %}">
                    <div>
                        {% if  post.creator.user.first_name %}
                            {{ post.creator.user.first_name }} {{ post.creator.user.last_name }}
                        {% else %}
                            {{ post.creator.user }}
                        {% endif %}
                    </div>
                </a>
                <div>{{ post.phone }}</div>

                <div>{{ post.post_type }}</div>
                <div>{{ post.specie }}</div>
                <hr class="mt-md-4"/>
                <div>{{ post.description | safe }}</div>
            </div>
        </div>
    </div>
    <div>
    </div>

    {% include 'utils/footer.html' %}
{% endblock %}

{% block end_of_page %}
    <script src="{% static 'assets/lightslider/js/lightslider.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#imageGallery').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                adaptiveHeight: true,
                thumbItem: 5,
                slideMargin: 0,
                enableDrag: false,
                currentPagerPosition: 'left',
                {% comment %}           onSliderLoad: function (el) {
                               el.lightGallery({
                                   selector: '#imageGallery .lslide'
                               });
                           }{% endcomment %}
            });
        });
    </script>
{% endblock %}