{% extends 'utils/base.html' %}


{% block title %}
    <title> post </title>
{% endblock %}

{% block content %}
    {% include 'utils/navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="col-6">
                <div>
                    <img class="img-fluid"
                         src="{{ post.images.first.image.url }}" alt="{{ post.images.first.image.url }}">
                </div>
            </div>
            <div class="col-6">
                <div>
                    {% if  post.creator.user.first_name %}
                        {{ post.creator.user.first_name }} {{ post.creator.user.last_name }}
                    {% else %}
                        {{ post.creator.user }}
                    {% endif %}
                </div>
                <div>{{ post.post_type }}</div>
                <div>{{ post.description | safe }}</div>
            </div>
        </div>
    </div>
    </div>
    <div>
    </div>
{% endblock %}